<section class="container" ng-controller="dashboardController">
<h1>View Community help requests</h1>
<form class="mt-3" name ="myform">
  <label>Select search parameters:</label>
  <div class="row">
    <div class="col-4">
  <lable for="distance" style="margin-right: 10px">Distance kms</lable>
  <input type="number" class="form-control-sm"  ng-model="selection.distance" id="distance" style="margin-right: 20px; width: 70px">
    </div>
    <div class="col-4">
      <lable for="Phone" style="margin-right: 10px">Phone</lable>
      <input type="number" class="form-control-sm" ng-model="selection.phone">
    </div>
    <div class="col-4">
      <label style="margin-right: 30px">Date range</label>
    <input type="date" class="form-control-sm"  ng-model="selection.date_range" >
    </div>
    </div>
  <div class="row mt-3">
    <div class="col">
    <label style="margin-right: 40px">Category</label>
    <select class="form-control-sm"
      ng-model="selection.category"
      ng-change="onCategoryChange()"
      ng-options="value.id as value.name group by value.group for value in option_category">
      <option>__</option>
    </select>
    </div>
    <div class="col">
    <label style="margin-right: 10px;margin-left: 190px">Sub Category</label>
    <select class="form-control-sm " ng-model="selection.sub_category" ng-options="value.id as value.name group by value.group for value in sub_categories">
      <option disabled selected>Option</option>
    </select>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col" style="padding-left: 400px">
  <button ng-click="getIssues()" class="btn btn-primary">Submit</button>
  <button style="margin-left: 100px" ng-click="download()" class="btn btn-info">Download as CSV</button>
    </div>
  </div>
</form>

  <div class="row mt-5 pagination"  ng-if="issues.length > 0">

  <table  style="width:100%" class="table table-bordered">
    <tr>
      <thead class="thead-light">
      <th>Name</th>
      <th>Date</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Category</th>
      <th>Description</th>
    </tr>
      </thead>
    <tr ng-repeat="issue in issues">
      <td>{{ issue.name}}</td>
      <td>{{issue.created_at}}</td>
      <td>{{issue.phone}}</td>
      <td>{{issue.address}}</td>
      <td>{{get_category(issue.issue_category_id)}}</td>
      <td>{{issue.description}}</td>
    </tr>
    <div>
    <button class="btn btn-light" ng-click="prev()"><<</button>
      <a class="p-2">{{page}}</a>
    <button class="btn btn-light" ng-click="next()">>></button>
    </div>
  </table>
    <button ng-click="clear()"  class="btn btn-danger">Clear</button>
    </div>
  </div>
</section>