<md-sidenav
  class="md-sidenav-left"
  md-component-id="left"
  md-whiteframe="4">
  <header class="nav-header">
    <a ng-href="/" class="docs-logo" href="/">

      <h1 class="docs-logotype md-heading ng-isolate-scope">AngularJS Material</h1>
    </a>
  </header>
</md-sidenav>

